// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin animate ($str) {
  -webkit-transition:$str;
  -moz-transition:$str;
  -o-transition:$str;
  transition:$str;
}

html, body{
  margin:0;
  padding:0;
}

#reactRoot{
  width:1000px;
  margin:0 auto;
  background:#eee;
  overflow:hidden;

  .photos{
    .photo{
      float:left;
      width:100px;
      height:100px;
      position:relative;
      margin:10px 20px;
      border:1px solid black;
      opacity:0;
      cursor:pointer;
      @include animate(all .5s);
    
      .title{
        position:absolute;
        background:rgba(0, 0, 0, .5);
        width:90%;
        bottom:0;
        color:white;
        padding:2% 5%;
      }
      
      &.visible{
        opacity:1;
      }
    }
  }

  .fileUploadZone{
    width:960px;
    margin:20px 20px 10px 20px;
    background:yellow;
    position:relative;

    input{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      opacity:0;
      cursor:pointer;
    }

    div{
      padding:20px 10px;
      text-align:center;
      font-weight:bold;
      text-transform:uppercase;
    }
  }
  
  .photoPupup{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    cursor:pointer;
    
    .photoPopupBG{
      position:absolute;
      left:0;
      top:0;
      width:100%;
      height:100%;
      background:rgba(0, 0, 0, .8);
    }
    
    .photoPopupContent{
      position:relative;
      left:50%;
      width:1000px;
      margin:100px 0 0 -500px;
      background:white;
      
      img{
        margin:20px;
      }
    }
    
    &.visible{
      display:block;
    }
  }
}